<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/JTTesting/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="JTTesting" />
      <add key="ClearTextPassword" value="${{ secrets.GITHUB_TOKEN }}" />
    </GitHub>
  </packageSourceCredentials>
</configuration>